<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <!-- <add assembly="Google.Cloud.Logging.NLog"/> -->
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file  -->
    <target name="asyncLogFile" xsi:type="AsyncWrapper">
      <target 
        xsi:type="File" 
        name="logfile" 
        fileName="log/log-${shortdate}.txt"
        archiveFileName="log/archive/log-${shortdate}.txt"
        keepFileOpen="true"
        archiveAboveSize="20000000"
        concurrentWrites="false"
        archiveEvery="Day"
        layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
    </target>

    <target name="asyncConsole" xsi:type="AsyncWrapper">
      <target name="console" xsi:type="ColoredConsole"
              layout="${date} ${threadname:whenEmpty=${threadid}} ${level:uppercase=true} ${logger} ${message} ${onexception:${exception}}" />
    </target>

    <!-- <target name="asyncStackDriver" xsi:type="AsyncWrapper">
      <target name="stackDriver" 
              xsi:type="GoogleStackdriver" 
              logId="Default"
              layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
    </target>     -->
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs-->
    <logger name="*" minlevel="Trace" writeTo="asyncLogFile" />
    <logger name="*" minlevel="Info" writeTo="asyncConsole" />
    <!-- <logger name="*" minlevel="Trace" writeTo="asyncStackDriver" /> -->

    <logger name="Microsoft.*" maxLevel="Info" final="true" /> <!-- BlackHole without writeTo -->
    
  </rules>
</nlog>